<%= form_for(@dossier) do |f| %>
  <% if @dossier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dossier.errors.count, "error") %> prohibited this dossier from being saved:</h2>

      <ul>
      <% @dossier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_application_id %><br />
    <%= f.number_field :job_application_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
