<%= form_for(@job_application_pool) do |f| %>
  <% if @job_application_pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_application_pool.errors.count, "error") %> prohibited this job_application_pool from being saved:</h2>

      <ul>
      <% @job_application_pool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
