= form_for(@job_application_pool, :url => pools_path) do |f|
 %fieldset
  %legend New Job Application Pool
  - if @job_application_pool.errors.any?
   %div#error_explanation
    %h2 #{pluralize(@job_application_pool.errors.count, "error")} prohibited this job application pool from being saved:
    %ul
     - @job_application_pool.errors.full_messages.each do |msg|
      %li #{msg}
  .field
   = f.label "Username:"
   = f.text_field :user
  .field
   = f.label "Pool Description:"
   = f.text_area :description, :rows => 2
  .action
   = f.submit(value="create")
