<h1>Listing job_application_pools</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @job_application_pools.each do |job_application_pool| %>
  <tr>
    <td><%= job_application_pool.user %></td>
    <td><%= link_to 'Show', job_application_pool %></td>
    <td><%= link_to 'Edit', edit_job_application_pool_path(job_application_pool) %></td>
    <td><%= link_to 'Destroy', job_application_pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job application pool', new_job_application_pool_path %>
