%div.five.columns
 
 %h4 Job Pools
 Welcome! A job pool is a collection of job applications, grouped for
 easy reference. The current pools on this system are shown in the
 table on the right.
 %p
 = link_to 'Create a new Pool', new_pool_path, :class => 'button'

%div.eleven.columns
 %table
  %th User name
  %th Description
  %th N/app
  %th Last Update
  %th
  %th
  %th
  - @job_application_pools.each do |pool|
   %tr
    %td= pool.user
    %td= pool.description
    %td= pool.job_applications.count
    %td= pool.updated_at.getlocal
    %td= link_to 'Show', pool_path(pool)
    %td= link_to 'Edit', edit_pool_path(pool)
    %td= link_to 'Destroy', pool_path(pool), method: :delete, data: { confirm: 'Are you sure?' }

%br.clear
