- if @application_target.errors.any?
 %div#error_explanation
  %h2 #{pluralize(@application_target.errors.count, "error")} prohibited this application target from being saved:
  %ul
   - @application_target.errors.full_messages.each do |msg|
    %li #{msg}
= fields_for :application_target do |target|
 .field
  = target.label 'Company:'
  = target.text_field :company
 .field
  = target.label 'Contact:'
  = target.text_field :contact
 .field
  = target.label 'Email:'
  = target.email_field :email
 .field
  = target.label 'Address:'
  = target.text_area :address, :rows => 3
 .field
  = target.label 'Notes:'
  = target.text_area :notes, :rows => 4
