= form_for(@job_application, :url => pool_application_path) do |f|
 - if @job_application.errors.any?
  %div#error_explanation
   %h2 #{pluralize(@job_application.errors.count, "error")} prohibited this job_application from being saved:
   %ul
    - @job_application.errors.full_messages.each do |msg|
     %li #{msg}
 .field
 = f.label :jobtitle
 %br
 = f.text_field :jobtitle
 .field
 = f.label :jobref
 %br
 = f.text_field :jobref
 .field
 = f.label :deadline
 %br
 = f.date_select :deadline
 .field
 = f.label :submission
 %br
 = f.date_select :submission
 .action
 = f.submit
