= form_for(@job_application, :url => pool_applications_path) do |f|
 %fieldset.job_application_detail
  %legend Job Application Details
  - if @job_application.errors.any?
   %div#error_explanation
    %h2 #{pluralize(@job_application.errors.count, "error")} prohibited this job application from being saved:
    %ul
     - @job_application.errors.full_messages.each do |msg|
      %li #{msg}
  .field
   = f.label 'Title:'
   = f.text_field :jobtitle
  .field
   = f.label 'Reference:'
   = f.text_field :jobref
  .field
   = f.label 'Deadline:'
   = f.date_select :deadline, :order => [:day, :month, :year], :use_month_numbers => true
  .field
   = f.label 'Submitted:'
   = f.date_select :submission, :order => [:day, :month, :year], :use_month_numbers => true, :include_blank => true
  .field
   = f.label 'Status:'
   = f.text_field :status

 %fieldset.application_target_detail
  %legend Application Target
  = render "application_target"

 %fieldset.dossier_detail
  %legend Dossier
  = render "dossier"

  .action
   = f.submit
