%tr.job-application-entry(title="This application is #{job_application.status == 0 ? 'incomplete' : 'complete'}"){:id => ["JobApplication", job_application.id]}
 %td= job_application.jobtitle
 %td= job_application.jobref
 %td= job_application.deadline.strftime("%d/%m/%y")
 %td= job_application.updated_at.strftime("%d/%m/%y %T")
 - if job_application.submission.nil?
  %td.submission{title: "Application not yet submitted so no date set"} -
 - else
  %td.submission-closed= job_application.submission.strftime("%d/%m/%y")
 = render :partial => "job_application_links", :locals => { :job_application => job_application }
