%tr.job-application-entry
 %td= job_application.jobtitle
 %td= job_application.jobref
 %td= job_application.deadline
 %td= job_application.updated_at.getlocal
 %td= job_application.submission
 %td= job_application.status
 = render :partial => 'job_application_links', :locals => { :job_application => job_application }
