%div.five.columns

 %h4 Job Applications
 - if @job_applications.empty?
  To add a new job application to the current pool, use the form on
  the right.

 - else
  The job applications belonging to the current pool are shown in the
  table on the right.
 %p
  = link_to("Back to Pool List", root_path, class: "home-icon")

%div.eleven.columns
 - if @job_applications.empty?
  = render :partial => "job_applications/full_form"
 - else
  %div.job-applications
   %table
    %thead
     %tr
      %th Job Title
      %th Job Reference
      %th Deadline
      %th Last Update
      %th Submission Date
      %th Status
      %th
      %th
      %th= link_to "", new_pool_application_path, class: "add-icon", title: "Add a new job application to the current pool"
    %tbody
     = render :partial => @job_applications
%br.clear
= link_to("Back to Pool List", root_path)
