%p
 %b Jobtitle:
 = @job_application.jobtitle
%p
 %b Jobref:
 = @job_application.jobref
%p
 %b Deadline:
 = @job_application.deadline
%p
 %b Status:
 = @job_application.status

= link_to('Edit', edit_pool_application_path)
= link_to('Back', pool_applications_path)
