%div.five.columns

 %h4= @job_application.jobtitle

 %span.link-back
  = link_to("Edit", edit_pool_application_path)
  = link_to("Back", pool_applications_path)
 %p

%div.eleven.columns
 %table.jobapplication
  %tbody
   %tr
    %td Job reference
    %td= @job_application.jobref
   %tr
    %td Deadline
    %td= @job_application.deadline
   %tr
    %td Current Status
    %td= @job_application.status
 %table.dossier
  %tbody
   %tr
    %td Dossier notes
    %td= @job_application.dossier.notes
%br.clear
