%div.five.columns
 %span.link-back
  = link_to("Edit", edit_pool_application_path)
  = link_to("Back", pool_applications_path)
 %p

%div.eleven.columns
 %p
 %table.job-application
  %tbody
   %tr
    %td.field-title Job Title:
    %td= @job_application.jobtitle
   %tr
    %td.field-title Reference:
    %td= @job_application.jobref
   %tr
    %td.field-title Deadline:
    %td= @job_application.deadline
   %tr
    %td.field-title Status:
    %td= @job_application.status

 %table.application-target
  %tbody
   %tr
    %td.field-title Company:
    %td= @job_application.application_target.company

 %table.dossier
  %tbody
   %tr
    %td.field-title Dossier notes:
    %td= @job_application.dossier.notes
%br.clear
