!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
 %head
  %title iJobDossier Application
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
 %body
  %div.ijd-header
   %div.stripes
   %div.container
    %h1 iJobDossier
    %h3 A job application management application.

  %div.primary.container
   %div.eighteen.columns
    %p#notice= notice

    = yield

   %div.sixteen.columns.ijd-footer
    %span.copyright
     Designed and built by Shaun ASHBY 2013.
    %span.gohome
     %a{ :href => '#' } Back to top
