!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
 %head
  %title iJobDossier Application
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
 %body
  %div.ijd-header
   %div.stripes
   %div.container
    %h1 iJobDossier
    %h3 A job application management application.

  %div.primary.container
   - if flash[:notice]
    %p#notice= flash[:notice]
   - if flash[:error]
    %p#error= flash[:error]
   %div.eighteen.columns
    = yield
   %div.eighteen.columns
    %iframe#content
   %div.sixteen.columns.ijd-footer
    %span.copyright
     Designed and built by Shaun ASHBY 2013.
    %span.gohome
     %a{ :href => '#' } Back to top
    %br
     Page render time:
     = Time.now.strftime("%Y-%m-%d %H:%M:%S")
